/* styles.css */

.room-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.room-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.seller-section {
  margin-top: 20px;
}

.amenities-section {
  margin-top: 20px;
}

.amenity-label {
  display: block;
  margin-bottom: 10px;
}

.amenity-checkbox {
  margin-right: 10px;
}

.photo-section {
  margin-top: 20px;
}

.photo-input {
  margin-top: 10px;
}

.photo-preview {
  display: flex;
  flex-wrap: wrap;
}

.photo-thumbnail {
  max-width: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.category-sectionn {
  margin-top: 20px;
  height:fit-content;
}

.category-label {
  display: block;
  margin-bottom: 10px;
}

.submit-button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.map {
  height: 70vh;
  width: 100%;
}
